.login-form {
    max-width      : 100rem;
    margin         : 10rem auto;
    padding        : 5rem 0;
    background     : $lightGreen;
    display        : flex;
    justify-content: center;
    border-radius  : 0.7rem;
    flex-direction : column;
    align-items    : center;

    @include sm-screen {
        border-radius: 5rem;
    }

    &--h2 {
        margin-bottom: 1rem;
    }

    &__container {
        flex-direction: column;

        &__field {
            display       : flex;
            flex-direction: column;
            width         : 95vw;
            max-width     : 22rem;
            margin        : 0.3rem 0;


            &__input {
                padding      : 0 1.1rem;
                border       : 0;
                height       : 3rem;
                background   : $white;
                border-radius: 1rem;
                font-size    : 1.2rem;

                &:focus {
                    border : 0;
                    outline: 0;
                }
            }



        }

    }
}