//Header for Admin panel
.panel-header {
    margin-bottom   : 1rem;
    display         : flex;
    justify-content : center;
    flex-wrap       : wrap;
    gap             : 3.5rem;
    align-items     : center;
    padding         : 5rem 1rem;

    &--desc {
        max-width    : 30rem;
        margin-bottom: 1.4rem;
    }

    &--user {
        color: $darkGreen;
    }



    &__img {
        border-radius: 100%;
    }
}

.panel {
    @include page-width;        //sets a max width for the div

    &__header {
        &__path {
            display: flex;

            &__a {
                text-decoration: none;
            }
        }

        &__desc {
            width: 40rem;
        }

        &__container {
            display    : flex;
            align-items: center;
            gap        : 1rem;

            &__btn {
                display         : flex;
                width           : 5rem;
                height          : 3rem;
                justify-content : center;
                align-items     : center;
                text-decoration : none;
                background-color: $yellow;
                border-radius   : 3rem;
                color           : $black;
                font-weight     : bold;
            }
        }

    }

    &__container {
        display  : flex;
        flex-wrap: wrap;
        gap      : 2rem;

        &__item {
            flex           : 1 0.4 20rem;
            height         : 18rem;
            width          : 18rem;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            border-radius  : 2.3rem;
            box-shadow     : 5px 5px 29px -16px rgba(0, 0, 0, 0.2);
            transition     : transform .2s ease-in-out;
            background     : $white;

            &:hover {
                transform: scale(1.05);

            }

            &__a {
                text-decoration: none;
                color          : $black;
                font-weight    : bold;
                font-size      : 2rem;
                width          : 100%;
                height         : 100%;
                display        : flex;
                justify-content: center;
                align-items    : center;
            }

            &__options {
                display: flex;
                gap    : 0.5rem;

                &__btn {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    width          : 5rem;
                    height         : 3rem;
                    text-decoration: none;

                    font-weight  : bold;
                    border-radius: 3rem;

                    &--view {
                        background: $gray;
                        color     : $black;
                        width     : 8.5rem;
                    }

                    &--edit {
                        background: $gray;
                        color     : $black;
                    }

                    &--delete {
                        background: $red;
                        color     : $white;
                    }
                }
            }
        }
    }
}

.panel-option {
    @include page-width;        //sets a max width for the div

    &__header {
        &__container {
            display    : flex;
            align-items: center;
            gap        : 1rem;

            &__a {
                display         : flex;
                width           : 5rem;
                height          : 3rem;
                justify-content : center;
                align-items     : center;
                text-decoration : none;
                background-color: $yellow;
                border-radius   : 3rem;
                color           : $black;
                font-weight     : bold;
            }
        }

        &__path {
            display: flex;
        }

    }

    &__table {
        border-radius   : 0.85rem;
        border-collapse : collapse;
        background-color: $ultragreen;

        &__head {
            text-align: left;

            th {
                padding: 2rem 0.8rem;
            }
        }


        &__body {
            padding         : 15px;
            background-color: rgba(255, 255, 255, 0.2);

            &__tr {
                &__td {
                    padding: 0.8rem 0.8rem;

                    &__btn {
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        width          : 5rem;
                        height         : 3rem;
                        text-decoration: none;
                        color          : white;
                        font-weight    : bold;
                        border-radius  : 3rem;
                    }
                }

            }
        }


    }
}