.summary {
    max-width      : 100rem;
    margin         : 0 auto;
    padding        : 5rem 1rem;
    &__container {
        h5 {
            font-weight: 500;
        }
        display              : grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        @include md-screen {
            grid-template-columns: repeat(2, 1fr); //adds more rows on bigger screens
        }
        &__item {
            &__field {
                display: flex;
                flex-direction: column;
                max-width: 20rem;
                &__input {
                    height:2.5rem;
                    font-size: 1.1rem;
                    border: 0;
                    background: $gray;
                    padding-left: 0.5rem;
                    border-radius: 0.5rem;
                    margin-top: -0.4rem;
                    margin-bottom: 0.4rem;
                }
            }
            &--orders {
                display: flex;
                flex-direction: column;
                max-width: 40rem;
       
            }
            &__wrapper {
     
                background-color: $ultragreen;
                padding: 2rem;
                border-radius: 1rem;
                margin-bottom: 0.4rem;
            }
        }

        &__btns {
            display: flex;
            gap: 0.5rem;
        }
    }
}
