.summary {
    max-width      : 100rem;
    margin         : 0 auto;
    padding        : 5rem 1rem;
    &__container {
        display              : grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        @include md-screen {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
