.footer {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__links__social__ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.4rem;
}
.footer__links__social__ul__li {
  list-style-type: none;
}
.footer__links__social__ul__li__a {
  text-decoration: none;
}
.footer__links__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
}
.footer__links__info__item__a {
  text-decoration: none;
  color: #217E7E;
}
.footer__copyright {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer__copyright__ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 0.7rem;
}
.footer__copyright__ul__li__a {
  text-decoration: none;
  color: #777272;
}

.nav__desktop {
  display: none;
}
@media only screen and (min-width: 992px) {
  .nav__desktop {
    display: block;
    background-color: #F4FAFA;
  }
  .nav__desktop__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1.5rem 0.7rem;
  }
  .nav__desktop__container__ul {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  .nav__desktop__container__ul {
    width: 33.33%;
  }
}
@media only screen and (min-width: 992px) {
  .nav__desktop__container__ul__li__a {
    color: #000000;
  }
  .nav__desktop__container__ul__li__a--home {
    font-weight: bold;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  .nav__desktop__container__ul__li__a--admin {
    color: #ec3232;
  }
}
@media only screen and (min-width: 992px) {
  .nav__desktop__container__account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: #D4EBEA;
    padding: 0.2rem 0.8rem;
    border-radius: 3rem;
  }
  .nav__desktop__container__account__logged {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .nav__desktop__container__account__logged__a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    border-radius: 3rem;
    font-weight: bold;
    color: black;
    background-color: #F4F4F4;
  }
  .nav__desktop__container__account__li__a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 3rem;
    font-weight: bold;
    color: black;
  }
  .nav__desktop__container__account__li__a--login {
    background-color: #F4F4F4;
  }
  .nav__desktop__container__account__li__a--register {
    background-color: #E6ED96;
  }
}
@media only screen and (min-width: 992px) {
  .nav__desktop__container__cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    color: #000000;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  .nav__desktop__container__cart {
    width: 33.33%;
  }
}
@media only screen and (min-width: 992px) {
  .nav__desktop__container__cart--svg {
    width: 3rem;
  }
}

.categories {
  padding: 2rem 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
@media only screen and (min-width: 767px) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .categories {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1170px) {
  .categories {
    grid-template-columns: repeat(5, 1fr);
  }
}
.categories__li {
  list-style-type: none;
}
.categories__li__a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 40rem;
}
.confirm__btns {
  display: flex;
  gap: 1rem;
}
.confirm__btns__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  border-radius: 3rem;
}
.confirm__btns__btn--confirm {
  background-color: #F4F4F4;
  color: black;
}
.confirm__btns__btn--cancel {
  background-color: #ec3232;
  color: #FEFEFE;
}

.panel {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 0.7rem;
}
.panel__header__path {
  display: flex;
}
.panel__header__path__a {
  text-decoration: none;
}
.panel__header__desc {
  width: 40rem;
}
.panel__header__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.panel__header__container__btn {
  display: flex;
  width: 5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #E6ED96;
  border-radius: 3rem;
  color: #000000;
  font-weight: bold;
}
.panel__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.panel__container__item {
  flex: 1 0.4 20rem;
  height: 18rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.3rem;
  box-shadow: 5px 5px 29px -16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  background: #FEFEFE;
}
.panel__container__item:hover {
  transform: scale(1.05);
}
.panel__container__item__a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel__container__item__options {
  display: flex;
  gap: 0.5rem;
}
.panel__container__item__options__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3rem;
}
.panel__container__item__options__btn--view {
  background: #F4F4F4;
  color: #000000;
  width: 8.5rem;
}
.panel__container__item__options__btn--edit {
  background: #F4F4F4;
  color: #000000;
}
.panel__container__item__options__btn--delete {
  background: #ec3232;
  color: #FEFEFE;
}

.panel-option {
  max-width: 100rem;
  margin: 0 auto;
}
.panel-option__header__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.panel-option__header__container__a {
  display: flex;
  width: 5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #E6ED96;
  border-radius: 3rem;
  color: #000000;
  font-weight: bold;
}
.panel-option__header__path {
  display: flex;
}
.panel-option__table {
  border-radius: 0.85rem;
  border-collapse: collapse;
  background-color: #D4EBEA;
}
.panel-option__table__head {
  text-align: left;
}
.panel-option__table__head th {
  padding: 2rem 0.8rem;
}
.panel-option__table__body {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}
.panel-option__table__body__tr__td {
  padding: 0.8rem 0.8rem;
}
.panel-option__table__body__tr__td__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 3rem;
}
.panel-option__table__body__tr__td__btn--view {
  background: #000000;
  width: 8rem;
}
.panel-option__table__body__tr__td__btn--edit {
  background: #3cbbde;
}
.panel-option__table__body__tr__td__btn--delete {
  background: #ec3232;
}

.create {
  max-width: 100rem;
  margin: 0 auto;
  padding: 3rem 0.7rem;
}
.create__path {
  display: flex;
}
.create__form {
  background-color: #F4FAFA;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin: 1.5rem 0;
}
.create__form__field {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create__form__field__label {
  font-weight: bold;
  font-size: 1.2rem;
}
.create__form__field--checkfield {
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}
.create__form__field__input {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 30rem;
  height: 4rem;
  border-radius: 3rem;
  padding: 0 1rem;
  background-color: #FEFEFE;
  font-size: 1.1rem;
}
.create__form__field__input:focus {
  border: 0;
  outline: 0;
}
.create__form__btns {
  display: flex;
  gap: 0.5rem;
}
.create__form__btns--create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border: 0;
  background: #FEFEFE;
  border-radius: 10rem;
  font-weight: bold;
}
.create__form__btns--cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border: 0;
  background: #ec3232;
  border-radius: 10rem;
  color: #FEFEFE;
  font-weight: bold;
}

.panel-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
  align-items: center;
  background-color: #F4FAFA;
  padding: 7rem 1rem;
}
.panel-header--desc {
  max-width: 30rem;
  margin-bottom: 1.4rem;
}
.panel-header--user {
  color: #217E7E;
}
.panel-header--logout {
  text-decoration: none;
  background: #E6ED96;
  width: 6rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
}
.panel-header__img {
  border-radius: 100%;
}

.panel {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 0.7rem;
}
.panel__header__path {
  display: flex;
}
.panel__header__path__a {
  text-decoration: none;
}
.panel__header__desc {
  width: 40rem;
}
.panel__header__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.panel__header__container__btn {
  display: flex;
  width: 5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #E6ED96;
  border-radius: 3rem;
  color: #000000;
  font-weight: bold;
}
.panel__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.panel__container__item {
  flex: 1 0.4 20rem;
  height: 18rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.3rem;
  box-shadow: 5px 5px 29px -16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  background: #FEFEFE;
}
.panel__container__item:hover {
  transform: scale(1.05);
}
.panel__container__item__a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel__container__item__options {
  display: flex;
  gap: 0.5rem;
}
.panel__container__item__options__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3rem;
}
.panel__container__item__options__btn--view {
  background: #F4F4F4;
  color: #000000;
  width: 8.5rem;
}
.panel__container__item__options__btn--edit {
  background: #F4F4F4;
  color: #000000;
}
.panel__container__item__options__btn--delete {
  background: #ec3232;
  color: #FEFEFE;
}

.panel-option {
  max-width: 100rem;
  margin: 0 auto;
}
.panel-option__header__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.panel-option__header__container__a {
  display: flex;
  width: 5rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #E6ED96;
  border-radius: 3rem;
  color: #000000;
  font-weight: bold;
}
.panel-option__header__path {
  display: flex;
}
.panel-option__table {
  border-radius: 0.85rem;
  border-collapse: collapse;
  background-color: #D4EBEA;
}
.panel-option__table__head {
  text-align: left;
}
.panel-option__table__head th {
  padding: 2rem 0.8rem;
}
.panel-option__table__body {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}
.panel-option__table__body__tr__td {
  padding: 0.8rem 0.8rem;
}
.panel-option__table__body__tr__td__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 3rem;
}
.panel-option__table__body__tr__td__btn--view {
  background: #000000;
  width: 8rem;
}
.panel-option__table__body__tr__td__btn--edit {
  background: #3cbbde;
}
.panel-option__table__body__tr__td__btn--delete {
  background: #ec3232;
}

.login-form {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 0;
  background: #F4FAFA;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 0.7rem;
}
@media only screen and (min-width: 767px) {
  .login-form {
    border-radius: 5rem;
  }
}
.login-form__container {
  flex-direction: column;
}
.login-form__container--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  border: 0;
  border-radius: 10rem;
  background-color: #217E7E;
  color: #FEFEFE;
  margin-top: 1.5rem;
}
.login-form__container__field {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 22rem;
  margin: 0.3rem 0;
}
.login-form__container__field__input {
  padding: 0 1.1rem;
  border: 0;
  height: 2.8rem;
  background: #FEFEFE;
  border-radius: 20rem;
  font-size: 1.2remfirfe;
}
.login-form__container__field__input:focus {
  border: 0;
  outline: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 8rem;
  flex-wrap: wrap;
  padding: 3rem 0.5rem;
  background: #F4FAFA;
}
.hero__desc {
  max-width: 22rem;
}
.hero__a {
  background: #217E7E;
  width: 7rem;
  height: 2.5rem;
  justify-content: center;
  border-radius: 4rem;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #FEFEFE;
  font-weight: bold;
}
.hero__a:hover {
  background-color: #5FA09F;
}
.hero__svg {
  max-width: 25rem;
}

.cards {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.cards__container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.cards__container--md {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 575px) {
  .cards__container--md {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1170px) {
  .cards__container--md {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cards__container--lg {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 575px) {
  .cards__container--lg {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards__container__item {
  background-color: #F4FAFA;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 2.3rem 2.3rem 0 0;
  position: relative;
  flex-basis: 20rem;
  flex-grow: 1;
}
.cards__container__item__box {
  background-color: #F4FAFA;
}
.cards__container__item__box__desc {
  background-color: #FEFEFE;
  border-radius: 2.3rem 2.3rem 0 0;
}
.cards__container__item__box__desc h4 {
  margin: 0;
}
.cards__container__item__box__desc__info {
  padding: 2rem;
}
.cards__container__item__box__desc__info__ratings {
  display: flex;
}
.cards__container__item__box__desc__info__ratings__star {
  width: 1.3rem;
}
.cards__container__item__box__desc__info__ratings__star--green {
  fill: #5FA09F;
}
.cards__container__item__box__desc__info__ratings__star--gray {
  fill: #777272;
}
.cards__container__item__box__desc__info__btns {
  display: flex;
  gap: 0.3rem;
}
.cards__container__item__box__desc__info__btns__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 3rem;
  height: 2rem;
  font-weight: bold;
}
.cards__container__item__box__desc__info__btns__btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}
.cards__container__item__box__desc__info__btns__btn--cart {
  width: 7rem;
  background: #E6ED96;
}
.cards__container__item__box__desc__info__btns__btn--details {
  background-color: #F4F4F4;
  width: 5rem;
}
.cards__container__item__bg {
  width: 100%;
  border-radius: 2.3rem 2.3rem 0 0;
}
.cards__container__item__info {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 2rem 2rem 0 0;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.cards__container__item__info__title, .cards__container__item__info__a {
  padding: 0;
  margin: 0;
  color: #000000;
}
.cards__container__item__info__title {
  margin-bottom: 0.2rem;
}
.cards__container__item__info__a {
  text-decoration: none;
  color: #000000;
  background: #D4EBEA;
  padding: 0.6rem;
  border-radius: 3rem;
  font-weight: bold;
}
.cards__container__item__info__a:hover {
  background-color: #F4FAFA;
}
.cards__container__item__a {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 2.3rem 2.3rem 0 0;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 1.2rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.cards__container__item__a:hover {
  color: #217E7E;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  background-color: #FEFEFE;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: pt-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0;
  margin: 0.5rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

.text-medium {
  color: #5FA09F;
}

.text-dark {
  color: #217E7E;
}

p,
a,
button,
label,
table {
  font-family: pt-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0.5rem 0;
}
