body {
  background-color: #FEFEFE;
  margin: 0;
  padding: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: pt-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0;
  margin: 0.5rem 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

.text-medium {
  color: #5FA09F;
}

.text-dark {
  color: #217E7E;
}

p,
a,
button {
  font-family: pt-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0.5rem 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 8rem;
  flex-wrap: wrap;
  padding: 3rem 0.5rem;
}
.hero__desc {
  max-width: 22rem;
}
.hero__a {
  background: #F4F4F4;
  width: 7rem;
  height: 2.5rem;
  justify-content: center;
  border-radius: 4rem;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #000000;
}
.hero__a:hover {
  background-color: #F4FAFA;
}
.hero__svg {
  max-width: 25rem;
}

.cards {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.cards__container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.cards__container--md {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 575px) {
  .cards__container--md {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1170px) {
  .cards__container--md {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cards__container--lg {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 575px) {
  .cards__container--lg {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards__container__item {
  background-color: #F4FAFA;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 2.3rem 2.3rem 0 0;
  position: relative;
  flex-basis: 20rem;
  flex-grow: 1;
}
.cards__container__item__box {
  background-color: #F4FAFA;
}
.cards__container__item__box__desc {
  background-color: #FEFEFE;
  border-radius: 2.3rem 2.3rem 0 0;
}
.cards__container__item__box__desc h4,
.cards__container__item__box__desc p {
  margin: 0;
}
.cards__container__item__box__desc__info {
  padding: 2rem;
}
.cards__container__item__box__desc__info__ratings {
  display: flex;
}
.cards__container__item__box__desc__info__ratings__star {
  width: 1.3rem;
}
.cards__container__item__box__desc__info__ratings__star--green {
  fill: #5FA09F;
}
.cards__container__item__box__desc__info__ratings__star--gray {
  fill: #777272;
}
.cards__container__item__box__desc__info__btns {
  display: flex;
  gap: 0.3rem;
}
.cards__container__item__box__desc__info__btns__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 3rem;
  height: 2rem;
  font-weight: bold;
}
.cards__container__item__box__desc__info__btns__btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}
.cards__container__item__box__desc__info__btns__btn--cart {
  width: 7rem;
  background: #E6ED96;
}
.cards__container__item__box__desc__info__btns__btn--details {
  background-color: #F4F4F4;
  width: 5rem;
}
.cards__container__item__bg {
  width: 100%;
  border-radius: 2.3rem 2.3rem 0 0;
}
.cards__container__item__info {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 2rem 2rem 0 0;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0;
}
.cards__container__item__info__title, .cards__container__item__info__a {
  padding: 0;
  margin: 0;
  color: #000000;
}
.cards__container__item__info__title {
  margin-bottom: 0.2rem;
}
.cards__container__item__info__a {
  text-decoration: none;
  color: #000000;
  background: #D4EBEA;
  padding: 0.6rem;
  border-radius: 3rem;
  font-weight: bold;
}
.cards__container__item__info__a:hover {
  background-color: #F4FAFA;
}
.cards__container__item__a {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 2.3rem 2.3rem 0 0;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 1.2rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.cards__container__item__a:hover {
  color: #217E7E;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__links__social__ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.4rem;
}
.footer__links__social__ul__li {
  list-style-type: none;
}
.footer__links__social__ul__li__a {
  text-decoration: none;
}
.footer__links__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
}
.footer__copyright {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer__copyright__ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 0.7rem;
}
.footer__copyright__ul__li__a {
  text-decoration: none;
  color: #777272;
}
