$mediumGreen: #5FA09F;
$darkGreen  : #217E7E;
$lightGreen : #F4FAFA;
$ultragreen : #D4EBEA;
$yellow     : #E6ED96;
$gray       : #F4F4F4;
$darkgray   : #D5D5D5;
$black      : #000000;
$white      : #FEFEFE;
$darkgray: #777272;

body {
    background-color: $white;
    margin          : 0;
    padding         : 0;
}

.sr-only {
    border           : 0 !important;
    clip             : rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path        : inset(50%) !important;
    /* 2 */
    height           : 1px !important;
    margin           : -1px !important;
    overflow         : hidden !important;
    padding          : 0 !important;
    position         : absolute !important;
    width            : 1px !important;
    white-space      : nowrap !important;
    /* 3 */
}


@mixin xl-screen {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

@mixin lg-screen {
    @media only screen and (min-width: 1170px) {
        @content;
    }
}

@mixin md-screen {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin sm-screen {
    @media only screen and (min-width: 767px) {
        @content;
    }
}

@mixin xs-screen {
    @media only screen and (min-width: 575px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: pt-sans, sans-serif;
    font-weight: 700;
    font-style : normal;
    padding    : 0;
    margin     : 0.5rem 0;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

.text-medium {
    color: $mediumGreen;
}

.text-dark {
    color: $darkGreen;
}

p,
a,
button {
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-style : normal;
    padding    : 0;
    margin     : 0.5rem 0;
}






//Hero Section
.hero {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 1rem 8rem;
    flex-wrap      : wrap;
    padding        : 3rem 0.5rem;
    background: $gray;

    &__desc {
        max-width: 22rem;
    }

    &__a {
        background     : $darkGreen;
        width          : 7rem;
        height         : 2.5rem;
        justify-content: center;
        border-radius  : 4rem;
        align-items    : center;
        display        : flex;
        text-decoration: none;
        color          : $white;
        font-weight: bold;

        &:hover {
            background-color: $mediumGreen;
        }
    }

    &__svg {
        max-width: 25rem;
    }
}

.cards {
    max-width: 100rem;
    margin   : 0 auto;
    padding  : 2.5rem 0;

    &__container {
        display       : grid;
        grid-auto-rows: auto;
        grid-gap      : 1rem;

        &--md {
            grid-template-columns: repeat(1, 1fr);

            @include xs-screen {
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg-screen {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        &--lg {
            grid-template-columns: repeat(1, 1fr);

            @include xs-screen {
                grid-template-columns: repeat(2, 1fr);
            }

        }


        &__item {
            background-color   : $lightGreen;
            background-repeat  : no-repeat;
            background-size    : cover;
            background-position: center center;
            border-radius      : 2.3rem 2.3rem 0 0;
            position           : relative;
            flex-basis         : 20rem;
            flex-grow          : 1;


            &__box {
                background-color: $lightGreen;

                &__desc {
                    background-color: $white;
                    border-radius   : 2.3rem 2.3rem 0 0;

                    h4,
                    p {
                        margin: 0;
                    }

                    &__info {
                        padding: 2rem;

                        &__ratings {
                            display: flex;

                            &__star {
                                width: 1.3rem;

                                &--green {
                                    fill: $mediumGreen;
                                }

                                &--gray {
                                    fill: $darkgray;
                                }
                            }
                        }

                        //item buttons
                        &__btns {
                            display: flex;
                            gap    : 0.3rem;

                            &__btn {
                                display        : flex;
                                justify-content: center;
                                align-items    : center;
                                text-decoration: none;
                                color          : black;
                                border-radius  : 3rem;
                                height         : 2rem;
                                font-weight    : bold;

                                &:hover {
                                    transform : scale(1.05);
                                    transition: transform 0.3s ease-out;
                                }

                                &--cart {
                                    width     : 7rem;
                                    background: $yellow;

                                }

                                &--details {
                                    background-color: $gray;
                                    width           : 5rem;
                                }
                            }

                        }
                    }
                }
            }

            &__bg {
                width        : 100%;
                border-radius: 2.3rem 2.3rem 0 0;

            }


            &__info {
                position        : absolute;
                bottom          : 0;
                text-align      : center;
                width           : 100%;
                background-color: $white;
                border-radius   : 2rem 2rem 0 0;
                color           : $black;
                text-decoration : none;
                display         : flex;
                justify-content : center;
                align-items     : center;
                display         : flex;
                flex-direction  : column;
                padding         : 0.6rem 0;


                &__title,
                &__a {
                    padding: 0;
                    margin : 0;
                    color  : $black;
                }

                &__title {
                    margin-bottom: 0.2rem;
                }

                &__a {
                    text-decoration: none;
                    color          : $black;
                    background     : $ultragreen;
                    padding        : 0.6rem;
                    border-radius  : 3rem;
                    font-weight    : bold;

                    &:hover {
                        background-color: $lightGreen;
                    }
                }


            }

            &__a {
                position        : absolute;
                bottom          : 0;
                text-align      : center;
                width           : 100%;
                background-color: $white;
                border-radius   : 2.3rem 2.3rem 0 0;
                color           : $black;
                text-decoration : none;
                margin          : 0;
                padding         : 1.2rem 0 1.5rem 0;
                display         : flex;
                justify-content : center;
                align-items     : center;
                font-weight     : bold;



                &:hover {
                    color: $darkGreen;
                }
            }
        }
    }
}


.footer {
    display       : flex;
    flex-direction: column;
    max-width     : 100rem;
    margin        : 0 auto;
    padding       : 2.5rem 0;

    &__links {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;

        &__social {
            &__ul {
                display: flex;
                padding: 0;
                margin : 0;
                gap    : 0.4rem;

                &__li {
                    list-style-type: none;

                    &__a {
                        text-decoration: none;
                    }
                }
            }
        }

        &__info {
            display  : flex;
            flex-wrap: wrap;
            gap      : 1.4rem;
            &__item {
                &__a {
                    text-decoration: none;
                    color: $darkGreen;
                }
            }
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        &__ul {
            display: flex;
            padding: 0;
            list-style-type: none;
            gap: 0.7rem;
            &__li {
                &__a {
                    text-decoration: none;
                    color: $darkgray;
                }
            }
        }
    }
}