$mediumGreen: #5FA09F;
$darkGreen  : #217E7E;
$lightGreen : #F4FAFA;
$ultragreen : #D4EBEA;
$yellow     : #E6ED96;
$gray       : #F4F4F4;
$darkgray   : #D5D5D5;
$black      : #000000;
$white      : #FEFEFE;
$darkgray   : #777272;
$blue       : #3cbbde;
$red        : #ec3232;
$lightred   : #f47b71;
$green      : #5ee13e;



body {
    background-color: $white;
    margin          : 0;
    padding         : 0;
}

ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
}

a {
    text-decoration: none;
}

.sr-only {
    border           : 0 !important;
    clip             : rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path        : inset(50%) !important;
    /* 2 */
    height           : 1px !important;
    margin           : -1px !important;
    overflow         : hidden !important;
    padding          : 0 !important;
    position         : absolute !important;
    width            : 1px !important;
    white-space      : nowrap !important;
    /* 3 */
}

.loading {
    position       : fixed;
    width          : 100%;
    height         : 100vh;
    background     : $lightGreen;
    z-index        : 100;
    top            : 0;
    bottom         : 0;
    left           : 0;
    right          : 0;
    box-sizing     : border-box;
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.lds-ellipsis {
    display : inline-block;
    position: relative;
    width   : 80px;
    height  : 80px;
}

.lds-ellipsis div {
    position                 : absolute;
    top                      : 33px;
    width                    : 13px;
    height                   : 13px;
    border-radius            : 50%;
    background               : $darkGreen;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left     : 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left     : 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left     : 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left     : 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@mixin xl-screen {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

@mixin lg-screen {
    @media only screen and (min-width: 1170px) {
        @content;
    }
}

@mixin md-screen {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin sm-screen {
    @media only screen and (min-width: 767px) {
        @content;
    }
}

@mixin max-sm-screen {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin xs-screen {
    @media only screen and (min-width: 575px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: pt-sans, sans-serif;
    font-weight: 700;
    font-style : normal;
    padding    : 0;
    margin     : 0.5rem 0;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

.text-medium {
    color: $mediumGreen;
}

.text-dark {
    color: $darkGreen;
}

p,
a,
button,
label,
table {
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-style : normal;
    padding    : 0;
    margin     : 0.5rem 0;
}

//Hero Section
.hero {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 1rem 8rem;
    flex-wrap      : wrap;
    padding        : 3rem 0.5rem;
    background     : $lightGreen;

    &__desc {
        max-width: 22rem;
    }

    &__a {
        background     : $darkGreen;
        width          : 7rem;
        height         : 2.5rem;
        justify-content: center;
        border-radius  : 4rem;
        align-items    : center;
        display        : flex;
        text-decoration: none;
        color          : $white;
        font-weight    : bold;

        &:hover {
            background-color: $mediumGreen;
        }
    }

    &__svg {
        max-width: 25rem;
    }
}

.cards {
    max-width: 100rem;
    margin   : 0 auto;
    padding  : 2.5rem 0;

    &__container {
        display       : grid;
        grid-auto-rows: auto;
        grid-gap      : 1rem;

        &--md {
            grid-template-columns: repeat(1, 1fr);

            @include xs-screen {
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg-screen {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        &--lg {
            grid-template-columns: repeat(1, 1fr);

            @include xs-screen {
                grid-template-columns: repeat(2, 1fr);
            }

        }


        &__item {
            background-color   : $lightGreen;
            background-repeat  : no-repeat;
            background-size    : cover;
            background-position: center center;
            border-radius      : 2.3rem 2.3rem 0 0;
            position           : relative;
            flex-basis         : 20rem;
            flex-grow          : 1;


            &__box {
                background-color: $lightGreen;

                &__desc {
                    background-color: $white;
                    border-radius   : 2.3rem 2.3rem 0 0;

                    h4 {
                        margin: 0;
                    }

                    &__info {
                        padding: 2rem;

                        &__ratings {
                            display: flex;

                            &__star {
                                width: 1.3rem;

                                &--green {
                                    fill: $mediumGreen;
                                }

                                &--gray {
                                    fill: $darkgray;
                                }
                            }
                        }

                        //item buttons
                        &__btns {
                            display: flex;
                            gap    : 0.3rem;

                            &__btn {
                                display        : flex;
                                justify-content: center;
                                align-items    : center;
                                text-decoration: none;
                                color          : black;
                                border-radius  : 3rem;
                                height         : 2rem;
                                font-weight    : bold;

                                &:hover {
                                    transform : scale(1.05);
                                    transition: transform 0.3s ease-out;
                                }

                                &--cart {
                                    width     : 7rem;
                                    background: $yellow;

                                }

                                &--details {
                                    background-color: $gray;
                                    width           : 5rem;
                                }
                            }

                        }
                    }
                }
            }

            &__bg {
                width        : 100%;
                border-radius: 2.3rem 2.3rem 0 0;

            }


            &__info {
                position        : absolute;
                bottom          : 0;
                text-align      : center;
                width           : 100%;
                background-color: $white;
                border-radius   : 2rem 2rem 0 0;
                color           : $black;
                text-decoration : none;
                display         : flex;
                justify-content : center;
                align-items     : center;
                display         : flex;
                flex-direction  : column;
                padding         : 1rem 0;


                &__title,
                &__a {
                    padding: 0;
                    margin : 0;
                    color  : $black;
                }

                &__title {
                    margin-bottom: 0.2rem;
                }

                &__a {
                    text-decoration: none;
                    color          : $black;
                    background     : $ultragreen;
                    padding        : 0.6rem;
                    border-radius  : 3rem;
                    font-weight    : bold;

                    &:hover {
                        background-color: $lightGreen;
                    }
                }


            }

            &__a {
                position        : absolute;
                bottom          : 0;
                text-align      : center;
                width           : 100%;
                background-color: $white;
                border-radius   : 2.3rem 2.3rem 0 0;
                color           : $black;
                text-decoration : none;
                margin          : 0;
                padding         : 1.2rem 0 1.5rem 0;
                display         : flex;
                justify-content : center;
                align-items     : center;
                font-weight     : bold;



                &:hover {
                    color: $darkGreen;
                }
            }
        }
    }
}


.footer {
    display       : flex;
    flex-direction: column;
    max-width     : 100rem;
    margin        : 0 auto;
    padding       : 2.5rem 0;

    &__links {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;

        &__social {
            &__ul {
                display: flex;
                padding: 0;
                margin : 0;
                gap    : 0.4rem;

                &__li {
                    list-style-type: none;

                    &__a {
                        text-decoration: none;
                    }
                }
            }
        }

        &__info {
            display  : flex;
            flex-wrap: wrap;
            gap      : 1.4rem;

            &__item {
                &__a {
                    text-decoration: none;
                    color          : $darkGreen;
                }
            }
        }
    }

    &__copyright {
        display    : flex;
        align-items: center;
        gap        : 2.5rem;

        &__ul {
            display        : flex;
            padding        : 0;
            list-style-type: none;
            gap            : 0.7rem;

            &__li {
                &__a {
                    text-decoration: none;
                    color          : $darkgray;
                }
            }
        }
    }
}

.login-form {
    max-width      : 100rem;
    margin         : 0 auto;
    padding        : 5rem 0;
    background     : $lightGreen;
    margin-top     : 3rem;
    display        : flex;
    justify-content: center;
    border-radius  : 0.7rem;

    @include sm-screen {
        border-radius: 5rem;
    }

    &__container {
        flex-direction: column;

        &--btn {
            display         : flex;
            justify-content : center;
            align-items     : center;
            width           : 8rem;
            height          : 2.5rem;
            font-weight     : bold;
            border          : 0;
            border-radius   : 10rem;
            background-color: $darkGreen;
            color           : $white;
            margin-top      : 1.5rem;

        }

        &__field {
            display       : flex;
            flex-direction: column;
            width         : 95vw;
            max-width     : 22rem;
            margin        : 0.3rem 0;


            &__input {
                padding      : 0 1.1rem;
                border       : 0;
                height       : 2.8rem;
                background   : $white;
                border-radius: 20rem;
                font-size    : 1.2remfirfe;

                &:focus {
                    border : 0;
                    outline: 0;
                }
            }



        }

    }
}


.categories {
    padding              : 2rem 0;
    margin               : 0;
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    gap                  : 3rem;

    @include sm-screen {
        grid-template-columns: repeat(3, 1fr);
    }

    @include md-screen {
        grid-template-columns: repeat(4, 1fr);
    }

    @include lg-screen {
        grid-template-columns: repeat(5, 1fr);
    }

    &__li {
        list-style-type: none;

        &__a {
            text-decoration: none;
            color          : $black;
            font-weight    : bold;
        }
    }
}

.panel-header {
    margin-bottom   : 1rem;
    display         : flex;
    justify-content : center;
    flex-wrap       : wrap;
    gap             : 3rem;
    align-items     : center;
    background-color: $lightGreen;
    padding         : 4rem 1rem;

    &--desc {
        max-width    : 30rem;
        margin-bottom: 1.4rem;
    }

    &--user {
        color: $darkGreen;
    }

    &--logout {
        text-decoration: none;
        background     : $yellow;
        width          : 6rem;
        height         : 2.5rem;
        display        : flex;
        justify-content: center;
        align-items    : center;
        border-radius  : 2.5rem;
    }

    &__img {
        border-radius: 100%;
    }
}


.panel {
    max-width: 100rem;
    margin   : 0 auto;
    padding  : 2.5rem 0.7rem;

    &__header {
        &__path {
            display: flex;

            &__a {
                text-decoration: none;
            }
        }

        &__desc {
            width: 40rem;
        }

        &__container {
            display    : flex;
            align-items: center;
            gap        : 1rem;

            &__btn {
                display         : flex;
                width           : 5rem;
                height          : 3rem;
                justify-content : center;
                align-items     : center;
                text-decoration : none;
                background-color: $yellow;
                border-radius   : 3rem;
                color           : $black;
                font-weight     : bold;
            }
        }

    }

    &__container {
        display  : flex;
        flex-wrap: wrap;
        gap      : 2rem;

        &__item {
            flex           : 1 0.4 20rem;
            height         : 18rem;
            width          : 18rem;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            border-radius  : 2.3rem;
            box-shadow     : 5px 5px 29px -16px rgba(0, 0, 0, 0.2);
            transition     : transform .2s ease-in-out;
            background     : $white;

            &:hover {
                transform: scale(1.05);

            }

            &__a {
                text-decoration: none;
                color          : $black;
                font-weight    : bold;
                font-size      : 2rem;
                width          : 100%;
                height         : 100%;
                display        : flex;
                justify-content: center;
                align-items    : center;
            }

            &__options {
                display: flex;
                gap    : 0.5rem;

                &__btn {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    width          : 5rem;
                    height         : 3rem;
                    text-decoration: none;

                    font-weight  : bold;
                    border-radius: 3rem;

                    &--view {
                        background: $gray;
                        color     : $black;
                        width     : 8.5rem;
                    }

                    &--edit {
                        background: $gray;
                        color     : $black;
                    }

                    &--delete {
                        background: $red;
                        color     : $white;
                    }
                }
            }
        }
    }
}

.panel-option {
    max-width: 100rem;
    margin   : 0 auto;

    &__header {
        &__container {
            display    : flex;
            align-items: center;
            gap        : 1rem;

            &__a {
                display         : flex;
                width           : 5rem;
                height          : 3rem;
                justify-content : center;
                align-items     : center;
                text-decoration : none;
                background-color: $yellow;
                border-radius   : 3rem;
                color           : $black;
                font-weight     : bold;
            }
        }

        &__path {
            display: flex;
        }

    }

    &__table {
        border-radius   : 0.85rem;
        border-collapse : collapse;
        background-color: $ultragreen;

        &__head {
            text-align: left;


            th {

                padding: 2rem 0.8rem;
            }
        }


        &__body {
            padding         : 15px;
            background-color: rgba(255, 255, 255, 0.2);

            &__tr {
                &__td {
                    padding: 0.8rem 0.8rem;

                    &__btn {
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        width          : 5rem;
                        height         : 3rem;
                        text-decoration: none;
                        color          : white;
                        font-weight    : bold;
                        border-radius  : 3rem;

                        &--view {
                            background: $black;
                            width     : 8rem;
                        }

                        &--edit {
                            background: $blue;
                        }

                        &--delete {
                            background: $red;
                        }
                    }
                }

            }
        }


    }
}


// .nav {
//     &__container {
//         display        : flex;
//         align-items    : center;
//         justify-content: space-between;
//         max-width     : 100rem;
//         margin        : 0 auto;
//         padding       : 2.5rem 0;

//         &__ul {
//             list-style-type: none;
//             padding        : 0;
//             margin         : 0;
//             z-index        : 1;

//         }

//         &__mobilebtn {
//             z-index: 1;

//             @include sm-screen {
//                 display: none;
//             }
//         }

//         &__menu {
//             @include max-sm-screen {
//                 display: none;
//             }

//             @include sm-screen {
//                 display: block;
//             }

//             &--mobile {
//                 @include max-sm-screen {
//                     position  : fixed;
//                     width     : 100%;
//                     height    : 100%;
//                     top       : 0;
//                     background: white;
//                 }


//             }

//             &__items {
//                 @include sm-screen {

//                     display    : flex;
//                     align-items: center;
//                     gap        : 4rem;
//                 }

//                 @include max-sm-screen {
//                     &--mobile {
//                         position : absolute;
//                         top      : 50%;
//                         left     : 50%;
//                         transform: translate(-50%, -50%);

//                     }
//                 }

//                 &__ul {
//                     list-style-type: none;
//                     padding        : 0;
//                     margin         : 0;

//                     @include sm-screen {
//                         display: flex;
//                         gap    : 0.5rem;
//                     }

//                     &__account {
//                         background-color: $ultragreen;
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         width: 22rem;
//                         height: 4rem;
//                         border-radius: 3rem;


//                         &--login {
//                             display: flex;
//                             justify-content: center;
//                             align-items: center;
//                             width: 10rem;
//                             height: 3rem;
//                             background-color: $gray;
//                             border-radius: 3rem;
//                             font-weight: bold;
//                             color:black;
//                         }
//                         &--register {
//                             display: flex;
//                             justify-content: center;
//                             align-items: center;
//                             width: 10rem;
//                             height: 3rem;
//                             background-color: $yellow;
//                             border-radius: 3rem;
//                             font-weight: bold;
//                             color:black;
//                         }
//                     }


//                 }
//                 &__a {
//                     &--svg {
//                         width: 2.4rem;
//                     }
//                 }
//             }

//         }
//     }

// }

.nav {
    &__desktop {
        display: none;
    }

    @include md-screen {
        &__desktop {
            display         : block;
            background-color: $lightGreen;

            &__container {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                max-width      : 100rem;
                margin         : 0 auto;
                padding        : 1.5rem 0.7rem;


                &__ul {
                    display    : flex;
                    gap        : 1rem;
                    align-items: center;

                    @include xl-screen {
                        width: 33.33%;
                    }

                    &__li {
                        &__a {
                            color: $black;

                            &--home {
                                font-weight : bold;
                                margin-right: 2rem;
                                font-size   : 1.5rem;

                            }

                            &--admin {
                                color: $red;
                            }
                        }
                    }
                }



                &__account {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    gap             : 0.3rem;
                    background-color: $ultragreen;
                    padding         : 0.2rem 0.8rem;
                    border-radius   : 3rem;

                    &__logged {
                        display    : flex;
                        gap        : 0.5rem;
                        align-items: center;


                        &__a {
                            display         : flex;
                            justify-content : center;
                            align-items     : center;
                            width           : 7rem;
                            height          : 3rem;
                            border-radius   : 3rem;
                            font-weight     : bold;
                            color           : black;
                            background-color: $gray;
                        }
                    }

                    &__li {
                        &__a {

                            display        : flex;
                            justify-content: center;
                            align-items    : center;
                            width          : 10rem;
                            height         : 3rem;
                            border-radius  : 3rem;
                            font-weight    : bold;
                            color          : black;

                            &--login {
                                background-color: $gray;
                            }

                            &--register {
                                background-color: $yellow;
                            }
                        }
                    }
                }

                &__cart {
                    display        : flex;
                    justify-content: flex-end;
                    align-items    : center;
                    gap            : 1em;
                    font-weight    : bold;
                    color          : $black;

                    @include xl-screen {
                        width: 33.33%;
                    }

                    &--svg {
                        width: 3rem;

                    }
                }
            }

        }
    }
}



.create {
    max-width: 100rem;
    margin   : 0 auto;
    padding  : 1.5rem 0.7rem;

    &__form {
        background-color: $ultragreen;
        border-radius   : 5rem;
        display         : flex;
        justify-content : center;
        flex-direction  : column;
        align-items     : center;
        padding: 2rem 0;
        margin: 2.5rem 0;

        &__field {
            margin        : 1rem 0;
            display       : flex;
            flex-direction: column;
            align-items: center;

            &--checkfield {
                flex-direction: row;
                align-items   : center;
                gap           : 0.3rem;
            }

            &__input {
                border         : 0;
                background     : $white;
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 100vw;
                max-width      : 20rem;
                height         : 3rem;
                border-radius  : 3rem;
                padding        : 0 1rem;
                &:focus {
                    border : 0;
                    outline: 0;
                }
            }

        }

        &__btns {
            display: flex;
            gap    : 0.5rem;
            

            &--create {
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 11rem;
                height         : 2.5rem;
                border         : 0;
                background     : $gray;
                border-radius  : 10rem;
            }

            &--cancel {
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 11rem;
                height         : 2.5rem;
                border         : 0;
                background     : $red;
                border-radius  : 10rem;
                color          : $white;
            }
        }
    }
}