.nav {
    margin-top: 3rem;
    @include md-screen {
        margin-top: 7rem;
    }

    &__mobile {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background: $white;
        padding: 0 0.5rem;
        z-index: 10000;
        top: 0;

        @include md-screen {
            display: none;
        }

        &__a {
            font-size: 1.4rem;
            color: $black;
            &--svg {
                width: 4rem;
            }
        }

        &__overlay {
            width: 100%;
            position:fixed;
            height: 100%;
            backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(17, 25, 40, 0.75);
            z-index: 10000;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &__ul {
                &__li {
                    &__a {
                        font-size: 3rem;
                        color: $white;
                    }
                }
            }
        }


    }

    &__desktop {
        display: none;
    }

    @include md-screen {
        &__desktop {
            display         : block;
            background-color: $lightGreen;
            position        : fixed;
            width           : 100%;
            top             : 0;
            z-index         : 1000;

            &__container {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                max-width      : 100rem;
                margin         : 0 auto;
                padding        : 0.7rem 0.7rem;


                &__ul {
                    display    : flex;
                    gap        : 1rem;
                    align-items: center;

                    @include xl-screen {
                        width: 33.33%;
                    }

                    &__li {
                        &__a {
                            color: $black;

                            &--home {
                                font-weight : bold;
                                margin-right: 2rem;
                                font-size   : 1.5rem;

                            }

                            &--admin {
                                color: $darkred;
                            }
                        }
                    }
                }



                &__account {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    gap             : 0.3rem;
                    background-color: $ultragreen;
                    padding         : 0.2rem 0.8rem;
                    border-radius   : 3rem;

                    &__logged {
                        display    : flex;
                        gap        : 0.5rem;
                        align-items: center;


                        &__a {
                            display         : flex;
                            justify-content : center;
                            align-items     : center;
                            width           : 7rem;
                            height          : 3rem;
                            border-radius   : 3rem;
                            font-weight     : bold;
                            color           : black;
                            background-color: $gray;
                        }
                    }

                    &__li {
                        &__a {

                            display        : flex;
                            justify-content: center;
                            align-items    : center;
                            width          : 10rem;
                            height         : 3rem;
                            border-radius  : 3rem;
                            font-weight    : bold;
                            color          : black;

                            &--login {
                                background-color: $gray;
                            }

                            &--register {
                                background-color: $yellow;
                            }
                        }
                    }
                }

                &__cart {
                    display        : flex;
                    justify-content: flex-end;
                    align-items    : center;
                    gap            : 1em;
                    font-weight    : bold;
                    color          : $black;

                    @include xl-screen {
                        width: 33.33%;
                    }

                    &--svg {
                        width: 2.5em;

                    }
                }
            }

        }
    }
}