.panel {
    max-width: 100rem;
    margin   : 0 auto;
    padding  : 2.5rem 0.7rem;

    &__header {
        &__path {
            display: flex;

            &__a {
                text-decoration: none;
            }
        }

        &__desc {
            width: 40rem;
        }

        &__container {
            display    : flex;
            align-items: center;
            gap        : 1rem;

            &__btn {
                display         : flex;
                width           : 5rem;
                height          : 3rem;
                justify-content : center;
                align-items     : center;
                text-decoration : none;
                background-color: $yellow;
                border-radius   : 3rem;
                color           : $black;
                font-weight     : bold;
            }
        }
    }

    &__container {
        display  : flex;
        flex-wrap: wrap;
        gap      : 2rem;

        &__item {
            flex           : 1 0.4 20rem;
            height         : 18rem;
            width          : 18rem;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            border-radius  : 2.3rem;
            box-shadow     : 5px 5px 29px -16px rgba(0, 0, 0, 0.2);
            transition     : transform .2s ease-in-out;
            background     : $white;

            &:hover {
                transform: scale(1.05);

            }

            &__a {
                text-decoration: none;
                color          : $black;
                font-weight    : bold;
                font-size      : 2rem;
                width          : 100%;
                height         : 100%;
                display        : flex;
                justify-content: center;
                align-items    : center;
            }

            &__options {
                display: flex;
                gap    : 0.5rem;

                &__btn {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    width          : 5rem;
                    height         : 3rem;
                    text-decoration: none;

                    font-weight  : bold;
                    border-radius: 3rem;

                    &--view {
                        background: $gray;
                        color     : $black;
                        width     : 8.5rem;
                    }

                    &--edit {
                        background: $gray;
                        color     : $black;
                    }

                    &--delete {
                        background: $red;
                        color     : $white;
                    }
                }
            }
        }
    }
}

.panel-option {
    max-width: 100rem;
    margin   : 0 auto;
    

    &__header {
        &__container {
            display    : flex;
            align-items: center;
            gap        : 1rem;

            &__a {
                display         : flex;
                width           : 5rem;
                height          : 3rem;
                justify-content : center;
                align-items     : center;
                text-decoration : none;
                background-color: $yellow;
                border-radius   : 3rem;
                color           : $black;
                font-weight     : bold;
            }
        }

        &__path {
            display: flex;
        }

    }

    &__table {
        border-radius   : 0.85rem;
        border-collapse : collapse;
        background-color: $gray;

        &__head {
            text-align: left;


            th {

                padding: 2rem 0.8rem;
            }
        }


        &__body {
            padding         : 15px;
            background-color: $gray;

            &__tr {
                &__td {
                    padding: 0.8rem 0.8rem;

                    &__btn {
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        width          : 5rem;
                        height         : 3rem;
                        text-decoration: none;
                        color          : white;
                        font-weight    : bold;
                        border-radius  : 3rem;

                        &--view {
                            background: $black;
                            width     : 8rem;
                        }

                        &--edit {
                            background: $blue;
                        }

                        &--delete {
                            background: $red;
                        }
                    }
                }

            }
        }


    }
}



.adminForm {
    max-width: 100rem;
    margin   : 0 auto;
    padding  : 3rem 0.7rem;

    &__path {
        display      : flex;
        margin-bottom: 0.7rem;
    }

    &__form {
        display      : inline-block;
        border-radius: 3rem;
        max-width    : 30rem;
        width        : 100%;

        &__field {
            display       : flex;
            flex-direction: column;
            margin        : 1.2rem 0;


            &--checkfield {
                align-items     : center;
                flex-direction  : row;
                background-color: $gray;
                border-radius   : 0.9rem;
                padding         : 0.8rem 1rem;
                gap             : 1rem;
            }

            &__label {
                font-size  : 1.1rem;
                font-weight: bold;

                &--checklabel {
                    font-weight: normal;
                }
            }

            &__input {
                border         : 0;
                display        : flex;
                justify-content: center;
                align-items    : center;

                max-width       : 30rem;
                height          : 4rem;
                border-radius   : 0.9rem;
                padding         : 0 1rem;
                background-color: $gray;
                font-size       : 1.1rem;
            }

            &__file {
                background   : $gray;
                padding      : 1rem 1rem;
                border-radius: 0.9rem;
            }
        }

        &__btns {
            display        : flex;
            justify-content: space-between;
            gap            : 1rem;

            &--create {
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 15rem;
                height         : 3rem;
                border         : 0;
                background     : $green;
                border-radius  : 0.8rem;
                color          : $darkgreen;
                cursor         : pointer;
                font-size      : 1.1rem;
            }

            &--cancel {
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 15rem;
                background     : $red;
                height         : 3rem;
                border         : 0;
                border-radius  : 0.8rem;
                color          : $darkred;
                font-size      : 1.1rem;
            }

        }

    }
}

