.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.5rem;
    height: 3rem;
    border-radius: 1rem;
    transition: color 0.5s ease-in-out;
    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    outline: 0;
    border: 0;

    &--red {
        background-color: $red;
        color: $darkred;
        &:hover {
            background-color: $darkred;
            color: $red;
        }
    }
    &--blue {
        background-color: $blue;
        color:$darkblue;
        &:hover {
            background-color: $darkblue;
            color: $blue;
        }
    }
    &--gray {
        background-color: $gray;
        color:$darkgray;
        &:hover {
            background-color: $darkgray;
            color: $gray;
        }
    }
    &--lime {
        background-color: $yellow;
        color:$brown;
        &:hover {
            background-color: $brown;
            color: $yellow;
        }
    }
    &--aqua {
        background-color: $ultragreen;
        color:$darkGreen;
        &:hover {
            background-color: $darkGreen;
            color: $ultragreen;
        }
    }
    &--green {
        background-color: $darkGreen;
        color:$white;
        &:hover {
            background-color: $mediumGreen;

        }
    }
}