@mixin xl-screen {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

@mixin lg-screen {
    @media only screen and (min-width: 1170px) {
        @content;
    }
}

@mixin md-screen {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin sm-screen {
    @media only screen and (min-width: 767px) {
        @content;
    }
}

@mixin max-sm-screen {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin xs-screen {
    @media only screen and (min-width: 575px) {
        @content;
    }
}

@mixin page-width {
    max-width: 100rem;
    margin   : 0 auto;
    padding  : 5rem 2rem;
}