$mediumGreen: #5FA09F;
$darkGreen  : #217E7E;
$lightGreen : #F4FAFA;
$ultragreen : #D4EBEA;
$yellow     : #E6ED96;
$gray       : #F4F4F4;
$darkgray   : #D5D5D5;
$black      : #000000;
$white      : #FEFEFE;
$darkgray   : #777272;
$blue: #b2d7f3;
$darkblue       : #455ec5;
$red        : #F5B8B8;
$darkred: #BB0000;
$lightred   : #f47b71;
$green      : #BDF5CE;
$darkgreen: #288918;

